.DS_Store
AppTrap/DerivedData
AppTrap/AppTrap.xcodeproj/kumaranvijayan.*
AppTrap/AppTrap.xcodeproj/project.xcworkspace/xcuserdata/kumaranvijayan.xcuserdatad/UserInterfaceState.xcuserstate
AppTrap/build
AppTrapPreferencePane/AppTrapPreferencePane.xcodeproj/kumaranvijayan.*
AppTrapPreferencePane/AppTrapPreferencePane.xcodeproj/kumaranvijayan.*
AppTrapPreferencePane/build
