.DS_Store
AppTrap/DerivedData
AppTrap/AppTrap.xcodeproj/project.xcworkspace/xcuserdata/kumaranvijayan.xcuserdatad/UserInterfaceState.xcuserstate
AppTrap/AppTrap.xcodeproj/xcuserdata/

AppTrapPreferencePane/DerivedData
AppTrapPreferencePane/AppTrapPreferencePane.xcodeproj/project.xcworkspace/xcuserdata/kumaranvijayan.xcuserdatad/UserInterfaceState.xcuserstate
