.DS_Store
AppTrap/DerivedData
AppTrap/AppTrap.xcodeproj/xcuserdata/
AppTrap/AppTrap.xcodeproj/project.xcworkspace/xcuserdata/kumaranvijayan.xcuserdatad/UserInterfaceState.xcuserstate

AppTrapPreferencePane/DerivedData
AppTrapPreferencePane/AppTrapPreferencePane.xcodeproj/project.xcworkspace/xcuserdata/
