<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppTrap</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.KumaranVijayan.AppTrap.prefpanel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>62</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Konst och vanliga saker, 2007-2008</string>
	<key>NSMainNibFile</key>
	<string>AppTrapPreferencePane</string>
	<key>NSPrefPaneIconLabel</key>
	<string>AppTrap</string>
	<key>NSPrincipalClass</key>
	<string>ATPreferencePane</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<string>NO</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>http://onnati.net/apptrap/AppTrapUpdate.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
